.addbtnwrapper{
    width: 100%;
}

.addEducationBtn{
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 10px;
    color: #1b2d45;
    width: inherit;
    cursor: pointer;
    font-weight: 600;
}

.addEducationBtn:hover{
    font-weight: 700;
    color: #9405Fa;
}