.formfooter{
    /* color: #d9d4e7; */
    color: #d9d4e7;
    /* background-color: #1b2d45; */
    /* border-top:#1b2d45 solid 2px; */
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    width: inherit;
}

nav{
    width: inherit;
}

.double{
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: #1b2d45;
    color: #d9d4e7;
    border: none;
    border-radius: 3px;
    outline: none;
    appearance: none;
    /* padding: 0.6rem 0.8rem; */
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-shadow:  rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .btn:hover{
    background-color: #008080;
    
  }


.resetbtn{
    width: 100%;
    margin-bottom: 0.5rem;
    
}

.resetbtn, .submitbtn{
    
    padding: 0.6rem 0.8rem;
}

.prevbtn, .nextbtn{
    width:40px;
    padding: 0.5rem 0;
    
    
}

.prevbtn svg, .nextbtn svg{
    transition:  transform 0.4s ease;

}

.prevbtn:hover svg{
    transform: translateX(-5px)
}

.nextbtn:hover svg{
    transform: translateX(5px)
}


.submitbtn{
    width:48%
}

.single{
    display: flex;
    justify-content: flex-end;
}


/* button{
    background-color: blue;
} */