.thumbnail_wrapper{
    color: rgb(27, 45, 69);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thumbnail_wrapper svg{
    font-size: 18px;
    font-weight: 200; 
}

.thumbnail_wrapper svg:hover{
    transform: translateY(2px);
}

.toggle_btn:hover{
    color:#6c03b8;
}

@media(min-width:480px) {
    
    .thumbnail_wrapper{
        font-size: 16px;
    }
    
    svg{
        font-size: 24px;
        font-weight: 200; 
    }
}