.formfooter{
    /* color: #d9d4e7; */
    color: #1b2d45;
    /* background-color: #1b2d45; */
    /* border-top:#1b2d45 solid 2px; */
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    width: inherit;
}

nav{
    width: inherit;
}

.double{
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: #1b2d45;
    color: #d9d4e7;
    border: none;
    border-radius: 3px;
    outline: none;
    appearance: none;
    padding: 0.6rem 0.8rem;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-shadow:  rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    transition: all 0.3s ease;
  }

  .btn:hover{
    background-color: #ff8966;
    color: #1b2d45;
    
  }


.resetbtn, .nextbtnFull{
    width: 100%;
    
}

.resetbtn{
    margin-top: 0.5rem;
}

.prevbtn, .nextbtnHalf, .submitbtn{
    width:48%
}

/* button{
    background-color: blue;
} */