.formfooter{
    /* color: #d9d4e7; */
    color: #d9d4e7;
    /* background-color: #1b2d45; */
    /* border-top:#1b2d45 solid 2px; */
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    width: inherit;
    
}

nav{
    width: inherit;
    
}

.reset_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.double{
    display: flex;
    justify-content: space-between;
}

.single{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #1b2d45;
    color: #d9d4e7;
    border: none;
    border-radius: 3px;
    outline: none;
    appearance: none;
    /* padding: 0.6rem 0.8rem; */
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-shadow:  rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .btn:hover{
    background-color: #008080;
    
    
  }

  .resetbtn:hover{
    background-color: rgba(250, 82, 70, 0.8);
    color: #1b2d45;
  }


.resetbtn, .nextbtnfull, .prevbtnfull, .submitbtn{
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.6rem 0.8rem;
    
}

/* .resetbtn, .submitbtn, .nextbtnfull, .prevbtnfull{
    
    padding: 0.6rem 0.8rem;
} */

.prevbtn, .nextbtn{
    width:20%;
    padding: 0.5rem 0; 
    margin-bottom: 0.5rem;      
}

@media(min-width:480px){
    /* .prevbtn, .nextbtn{
        width:80px;     
    } */
    /* .resetbtn{
        width: 40%;
    } */

}

.prevbtn svg, .nextbtn svg, .nextbtnfull svg, .prevbtnfull svg{
    transition:  transform 0.4s ease;

}

.prevbtn:hover svg, .prevbtnfull:hover svg{
    transform: translateX(-5px)
}

.nextbtn:hover svg, .nextbtnfull:hover svg{
    transform: translateX(5px)
}







/* button{
    background-color: blue;
} */