.heading{
    border-bottom: solid 2px #1b2945;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem 0.5rem ;
    color: #d9d4e7;
    background-color: #1b2d45; 
}

.heading svg{
    color:#d9d4e7;
    font-size:2rem ;
    margin-right: 0.5rem;
    display: inline-block;
}