.options_lists_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.period_heading{
    font-weight: 600;
    margin-bottom: 2px;
}

select{
    padding: 3px 5px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 70px;
}


option{
    background-color: #f7f7f7;
    font-size: 16px;
    
}

option:not(:first-child){
    color: #1b2d45;

}

select:invalid{
    color: rgb(155, 155, 155);
    background-color: #f7f7f7;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

select:invalid:hover{
    background-color: #f5ebfc;
    color: #6c03b8;
    /* border: #6c03b8 solid 2px; */
}

@media(min-width:480px) {
    .options_lists_wrapper{
        flex-direction: row;
        column-gap: 5px;
    }

    select{
        /* padding: 3px 5px; */
        /* width: 70px */
    }
    select:invalid{
        font-size: 14px;
        letter-spacing: 0;
    }
    
}