.employment_details{
    background-color: inherit;
    width: inherit;
    overflow-x: auto;
    padding: 0;
}

.details_table{
    width: 100%;
 
}

.heading{
    text-align: left;
    font-size: 1.2rem;
    border-bottom: solid #dddddd 1px;
    
}



.details_table td{
    padding: 10px 0 0 0;
    font-size: 14px;
   
}

.label{
    width: 30%;
    font-weight: 600;

}

.info{
    width: 60%;
    text-align: right;
}