.resume_dashboard{
    background-color:  #9405Fa;
    color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* height: 20px; */
    top: 65px;
    width:140px ;
    right: 0;
    /* bottom: 0; */

    flex: 0 0 80px;
    position: fixed;
    padding: 5px 10px;
    z-index: 10;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    
}

.resume_dashboard svg{
    color: #f7f7f7;
    font-size: 20px;
    
    /* cursor: pointer; */
}

.resume_dashboard button, .link_btn{
    background-color: transparent;
    outline: none;
    appearance: none;
    border: none;
    cursor: pointer;
    padding: 1px 5px;
    

}

.resume_dashboard svg:hover{
    font-weight: 700;
    color: gold;
}






@media(min-width:500px){
    .resume_dashboard{
        background-color:  #9405Fa;
        color: #f7f7f7;
        display: flex;
        flex-direction: column;
        flex: 0 0 45px;
        align-self: flex-start;
        justify-self: flex-start;
        justify-content: center;
        align-items: center;
        /* margin-top: 20px; */
        padding: 10px 0px;
        position: initial;
        /* border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px; */
        border-top-left-radius: 0;
        height: auto;
        position: sticky;
        top: 87px;
        border-radius: 40px;
    }

    .resume_dashboard button, .link_btn{
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 2px;
    }

    .resume_dashboard svg{
        font-size: 24px;
        
        /* cursor: pointer; */
    }
}





