.resume_wrapper{
    width: 90%;
    max-width: 800px;
    min-height: 100vh;
    background-color: #ffffee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.5) 0px 3px 8px;
    color: #444;
    padding-top: 20px ;
    margin-top: 20px;
    margin-bottom: 20px;

}



.section_heading{
    width: 100%;
    color: #d9d4e7;
    background-color: #1b2d45;
    
    padding: 20px 0;
}

.resume_content{
    padding: 30px 50px 30px 50px;
    width: 100%;

}