.resume_card{
    background-color: #ffffee;
    margin: 2rem 0.5rem;
    height: 250px;
    flex: 1 1 calc(50% - 2rem);
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.5) 0px 3px 8px;
    overflow: hidden;
    display: inline-block;
    min-width: 180px;
    max-width: 200px;
    text-decoration: none;
    transition: all 0.3s ease;
} 

@media(min-width:500px){
    .resume_card{
        flex: 1 1 calc(33% - 2rem)
    }
}

.resume_card:hover{
    transform: scale(1.03);
}

.resume_card span{
    display: inline-block;
    background-color: #d4cccf;
    height: 3px;
}

.thumbnail_header{
    width: 100%;
    padding:5px 4px 0;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    /* border-bottom: #d4cccf solid 1px; */
    margin-bottom: 8px;
}

.resume_name{
    height: 4px;
    padding: 0 5px;
    background-color: #d4cccf;
    width: 70%;
}

.thumbnail_content{
    padding:3px 5px ;
}

.heading{
    border-bottom: #d4cccf solid 1px;
    width: 100%;
}

.heading_text{
    height: 4px;
    width: 30%;

}

.details{
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.label{
    width: 30%;
    margin-bottom: 4px;
}

.info{
    width: 60%;
    margin-bottom: 4px;
}
.name{
    width: 45%;
}

.phone{
    width: 30%;
}


.resume_info{
    margin: 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resume_info span{
    background-color: transparent;
    font-size: 8px;
    font-weight: 700;
    display: block;
    padding: 8px 0;
    color:#8a8687;
    text-decoration: none;
    
}

.resume_title{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}



