.basicDetails{
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading{
    background-color: #0e172c;
    
}


article{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 1.3rem 0.6rem 2rem 0.6rem;
    border-radius: 4px;
}

article:not(:first-child){
    margin-top: 12px;
}


label{
    width:100%;
}


label:not(:first-child){
    margin-top: 1rem;
}

input{
    border: #1b2d45 solid 2px;
    border-radius: 3px;
    outline:none;
    appearance: none;
    background-color: transparent;
    width: 100%;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-block;
    color: #1b2d45;
    cursor: pointer;
    transition: all 0.3s ease;
}

input::placeholder{
    color: #1b2d45;
    font-size: 0.7rem;
    font-weight: 600;
}

@media(min-width:480px){
    
    input::placeholder{
        font-size: 0.8rem;
    }
}

input:focus{
    border:rgb(171, 62, 250) solid 2px ;
    background-color: #f7f7f7;
    color: #1b2d45;
    
}

input:hover{
    border:rgb(171, 62, 250) solid 2px ;
    
}

input:hover::placeholder{
    color:rgb(138, 5, 233);

}







