.basicDetails{
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    

}
.basicDetails::-webkit-scrollbar {
    width: 2vw;
    max-width: 0px;
    padding: 0 2px;
  }

.basicDetails:hover::-webkit-scrollbar {
    max-width: 8px;
  }

.basicDetails::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid rgb(29, 31, 34, 0.2);
    border-radius: 8px;
  }

  .basicDetails::-webkit-scrollbar-thumb {
    background: rgb(27, 45, 69, 0.9);
    border-radius: 8px;
    box-shadow: inset 1px 1px 5px rgba(96, 96, 97, 0.4);
  }

.heading{
    background-color: #0e172c;
    
}


article{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 1.3rem 0.6rem 1.3rem 0.6rem;
    border-radius: 4px;
}

article:not(:first-child){
    margin-top: 12px;
}


label{
    width:100%;
}


label:not(:first-child){
    margin-top: 1rem;
}

input{
    border: #1b2d45 solid 2px;
    border-radius: 3px;
    outline:none;
    appearance: none;
    background-color: transparent;
    width: 100%;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.87rem;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    display: inline-block;
    color: #1b2d45;
    cursor: pointer;
    transition: all 0.3s ease;
}

input::placeholder{
    color: #1b2d45;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
}



input:focus{
    border:rgb(171, 62, 250) solid 2px ;
    background-color: #f7f7f7;
    color: #1b2d45;
    
}

input:hover{
    border:rgb(171, 62, 250) solid 2px ;
    
}

input:hover::placeholder{
    color:rgb(138, 5, 233);

}

@media(min-width:480px){

    input{
        font-size: 1rem;
    }
    
    input::placeholder{
        font-size: 1rem;
    }
}







